.src-components-check-out-lucas {

}

.buttonAplicar {
background-color: var(--primary-color);
border: 2px solid #555555;
color: white;
padding: 2px 20px;
text-decoration: none;
margin: 4px 4px;
cursor: pointer;
}

/*.buttonAplicar:hover{
  background-color: #dddadac2; 
  color: #37bd0f;
}*/

#codigo{
  margin-left: 4px;
  font-size: 17.5px;
}

#collapseOne {
  color: rgb(0, 0, 0);
  background-color: rgba(202, 199, 194, 0.781);
}

#collapseTwo {
  color: rgb(0, 0, 0);
  background-color: rgba(202, 199, 194, 0.781);
}

#collapseThree {
  color: rgb(0, 0, 0);
  background-color: rgba(202, 199, 194, 0.781);
}
#collapseFour {
  color: rgb(0, 0, 0);
  background-color: rgba(202, 199, 194, 0.781);
}

#botonTarjeta{
  background-color: rgba(238, 156, 14, 0.89);
  margin: 3.5px;
}

#efectivo{
  background-color: rgba(238, 156, 14, 0.89);
}

#inputEfectivo{
  margin: 3px;
}

#btnCancelar{
  margin-right: 4px;
  text-align: center;
}

#headerDetalle{
  background-color: orange;
}

#nroTarjeta {
  margin: 3.5px;
}

