<section class="src-components-check-out">
  <div class="jumbotron text-left">
    <h1 class="ml-4">CHECK OUT</h1>
    <br>
    <vue-form :state="formState" @submit.prevent="finalizarCompra()">
      <div class="container-fluid">
        <div class="row">
          <div class="col-8">
            <div class="accordion" id="accordionExample">
              <!-- PRIMER ACORDEON -->
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Código Promocional
                    </button>
                  </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <label>Aplicar código promocional:</label>
                    <input class="w3-input w3-border " type="text" id="promotion" name="promotion" v-model="promotion" required>
                    <input type="button" class="buttonAplicar" value="Aplicar" v-on:click="vaciarCodigo()">
                  </div>
                </div>
              </div>

              <!-- SEGUNDO ACORDEON -->
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                      Dirección de Envío
                    </button>
                  </h2>
                </div>

                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    <vue-form :state="shippingFormState" @submit.prevent="saveShipping()" class="text-center row">
                        <validate tag="div" class="col-6">
                          <label for="shipping-address">Calle</label>
                          <input type="text" id="shipping-address" name="shipping-address" class="form-control" v-model="shippingFormData.address" placeholder="ejemplo: Av Rivadavia 123 4toA" required>
                        </validate>
                        <validate tag="div" class="col-6">
                          <label for="shipping-state">Localidad</label>
                          <input type="text" id="shipping-state" name="state" class="form-control" v-model="shippingFormData.state" required>
                        </validate>
                        <validate tag="div" class="col-6 mt-2">
                          <label for="shipping-city">Barrio</label>
                          <input type="text" id="shipping-city" name="shipping-city" class="form-control" v-model="shippingFormData.city" required>
                        </validate>
                        <validate tag="div" class="col-6 mt-2">
                          <label for="shipping-zipcode">Código Postal</label>
                          <input type="number" id="shipping-zipcode" name="shipping-zipcode" class="form-control" v-model="shippingFormData.zipCode" required>
                        </validate>
                        <div class="col-12 text-right">
                          <button class="btn btn-primary mt-4" :disabled="shippingFormState.$invalid" type="submit">Aceptar</button>
                        </div>
                    </vue-form>
                  </div>
                </div>
              </div>

              <!-- TERCER ACORDEON -->
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                      Dirección de Facturación
                    </button>
                  </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    <vue-form :state="billingFormState" @submit.prevent="saveBilling()" class="text-center row">
                        <validate tag="div" class="col-6">
                          <label for="billing-address">Calle</label>
                          <input type="text" id="billing-address" name="billing-address" class="form-control" v-model="billingFormData.address" placeholder="ejemplo: Av Rivadavia 123 4toA" required>
                        </validate>
                        <validate tag="div" class="col-6">
                          <label for="billing-state">Localidad</label>
                          <input type="text" id="billing-state" name="state" class="form-control" v-model="billingFormData.state" required>
                        </validate>
                        <validate tag="div" class="col-6 mt-2">
                          <label for="billing-city">Barrio</label>
                          <input type="text" id="billing-city" name="billing-city" class="form-control" v-model="billingFormData.city" required>
                        </validate>
                        <validate tag="div" class="col-6 mt-2">
                          <label for="billing-zipcode">Código Postal</label>
                          <input type="number" id="billing-zipcode" name="billing-zipcode" class="form-control" v-model="billingFormData.zipCode" required>
                        </validate>
                        <div class="col-12 text-right">
                          <button class="btn btn-primary mt-4" :disabled="billingFormState.$invalid" type="submit">Aceptar</button>
                        </div>
                    </vue-form>
                    <!-- <hr>
                <div class="form-check" v-if="formDataEnvio.calle != formState.$dirty " >
                  <input class="form-check-input" type="checkbox" id="checkDireccionFacturacion" >
                  <label class="form-check-label" for="checkDireccionFacturacion">
                    Copiar datos de Direccion de Envio
                  </label>
                </div>
              -->
                  </div>
                </div>
              </div>

              <!-- CUARTO ACORDEON -->
              <div class="card">
                <div class="card-header" id="headingFour">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                      Método de Pago
                    </button>
                  </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="row justify-content-start mb-2">
                      <div class="col-3 mb-2">
                        <h4 for="creditCard">
                          <input type="radio" name="options" id="creditCard" class="radio-lg mr-2" :value="setPaymentMethod('Tarjeta')" checked>
                          Tarjeta de crédito o débito
                        </h4>
                      </div>
                    </div>
                    <vue-form :state="paymentFormState" @submit.prevent="savePayment()" class="text-center">
                      <validate tag="div" class="row">
                        <label for="cardHolderName" class="col">Titular de la tarjeta: </label>
                        <input type="text" id="cardHolderName" name="cardHolderName" class="form-control col-10 mb-2" autocomplete="off" v-model.trim="paymentForm.cardHolderName" required placeholder="Ingrese el nombre del titular de la tarjeta">
                      </validate>
                      <validate tag="div" class="row">
                        <label for="cardNumber" class="col">Número de tarjeta: </label>
                        <input type="number" id="cardNumber" name="cardNumber" class="form-control col-10 mb-2" autocomplete="off" v-model.number="paymentForm.cardNumber" required placeholder="Ingrese un número de tarjeta">
                      </validate>
                      <validate tag="div" class="row">
                        <label for="expiryMonth" class="col-2">Fecha de expiración: </label>
                        <input type="number" id="expiryMonth" name="expiryMonth" class="form-control col-1 mb-2 mr-2" autocomplete="off" v-model.number="paymentForm.expiryMonth" required placeholder="Mes">
                        <input type="number" id="expiryYear" name="expiryYear" class="form-control col-1 mb-2" autocomplete="off" v-model.number="paymentForm.expiryYear" required placeholder="Año">
                      </validate>
                      <validate tag="div" class="row">
                        <label for="cardCode" class="col-2">Código de seguridad: </label>
                        <input type="number" id="cardCode" name="cardCode" class="form-control col-1 mb-2" autocomplete="off" v-model.number="paymentForm.cardCode" required placeholder="CVV">
                      </validate>
                      <div class="row justify-content-end">
                        <button class="btn btn-primary my-3 col-1 mr-4" :disabled="paymentFormState.$invalid" type="submit">Aceptar</button>
                      </div>
                    </vue-form>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-4 text-left">
            <div class="row card mb-3 ml-3" style="max-width: 25rem;">
              <div class="card-header" id="headerDetalle">Detalles de la orden</div>
              <div class="card-body">
                <ul v-for="order in orderItems">
                  <li>{{order.product.name}}: ${{order.product.price}} x {{order.quantity}}</li>
                </ul>
                <hr>
                <ul>
                  <li>Subtotal: ${{order.subtotal}}</li>
                  <li>Promoción: {{order.promotion}}</li>
                  <li>Precio de envío: {{order.shippingTotal}}</li>
                  <li>Dirección de envío: <label v-if=shippingCompleted> {{shippingFormData.address}} {{shippingFormData.state}} {{shippingFormData.city}} </label></li>
                  <li>Dirección de facturación: <label v-if=billingCompleted> {{billingFormData.address}} {{billingFormData.state}} {{billingFormData.city}} </label></li>
                  <li>Método de pago: {{ getPaymentMethod }}</li>
                  <li>TOTAL: {{order.total}}</li>
                </ul>
              </div>
            </div>
            <div class="row text-left mb-3 ml-3">
              <router-link to="/cart" class="btn btn-danger w-25" id="btnCancelar" type="button">Cancelar</router-link>
              <button class="btn btn-success w-25" :disabled=getPurchaseButtonStatus type="submit">Finalizar compra</button>
            </div>
          </div>
        </div>
      </div>
    </vue-form>
  </div>
</section>