* {
    margin: 0;
}

.navbar-search {
    display: flex;
}
.navbar-search-field {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: none !important;
}
.navbar-search-submit {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none;
}

.jumbotron{
    background-color: var(--secondary-color);
}

.card {
    height: 100%;
}

.card-body {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.product-img {
    height: 15rem;
}