<section class="products">
  <div class="jumbotron">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <ul class="list-group">
            <div class="navbar-search">
              <input
                  type="search"
                  class="form-control navbar-search-field"
                  placeholder="Buscar productos"
                  v-model="searchResult"
              />
              <button
                  class="btn btn-outline-success navbar-search-submit"
                  type="submit"
              >
                  Buscar
              </button>
          </div>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                Mouses
              </a>
              <a href="#" class="list-group-item list-group-item-action">Monitores</a>
              <a href="#" class="list-group-item list-group-item-action">Teclados</a>
              <a href="#" class="list-group-item list-group-item-action">Categoria 4</a>
              <a href="#" class="list-group-item list-group-item-action">Categoria 5</a>
            </div>
          </ul>
        </div>
        <div class="col-8">
          <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4"  v-for="product in filteredProducts">
              <div class="card">
                <img v-bind:src="product.image" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{product.name}}</h5>
                  <p class="card-text">${{product.price}}</p>
                  <a href="#" class="btn btn-success btn-sm">Ver Detalle</a>
                  <a href="#" class="btn btn-primary btn-sm">Agregar al carrito</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
