<section class="products">
  <div class="jumbotron">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <ul class="list-group">
            <div class="navbar-search">
              <input type="search" class="form-control navbar-search-field" placeholder="Buscar productos" v-model="searchResult" />
              <button class="btn btn-outline-success navbar-search-submit" type="submit">
                Buscar
              </button>
            </div>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                Mouses
              </a>
              <a href="#" class="list-group-item list-group-item-action">Monitores</a>
              <a href="#" class="list-group-item list-group-item-action">Teclados</a>
              <a href="#" class="list-group-item list-group-item-action">Categoria 4</a>
              <a href="#" class="list-group-item list-group-item-action">Categoria 5</a>
            </div>
          </ul>
        </div>
        <div class="col-8">
          <div v-if="!filteredProducts" class="spinner-border text-info" role="status">
            <span class="sr-only">Searching...</span>
          </div>
          <div v-else-if="filteredProducts.length > 0" class="row row-cols-1 row-cols-md-3">
            <div v-for="product in filteredProducts" :key="product._id" class="col mb-4">
              <div class="card">
                <img :src="product.imageUrl" class="card-img-top product-img" alt="...">
                <div class="card-body">
                  <div>
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">${{product.price}}</p>
                  </div>
                  <div>
                    <router-link :to="`/product-details/${product._id}`" class="btn btn-success btn-sm">Ver Detalle</router-link>
                    <button @click="addProductToOrder(product, 1, true)" class="btn btn-primary btn-sm" title="Agregar 1 unidad de este producto al carrito">Agregar al carrito</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-else class="alert alert-warning">
            <p>Products not found</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>